<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>Agenda telefónica</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">contacts</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
