<app-header></app-header>
<br />
<div class="container">
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile [colspan]="1" style="height : 500px !important;" class="form-list">
      <app-formulario [data] = "registroActual" [position] = "registroPosicion" (enviar)="agregar($event)"></app-formulario>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" style="height : 500px !important;" class="form-list">
      <app-list [nuevoContacto]="nuevoRegistro" (modificar)="modificarContacto($event)" (limpiar)="limpiarRegisro()"></app-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
