  <mat-list>
    <h3 mat-subheader>Mis contactos</h3>
    <ng-container *ngIf="contactsList.length > 0">
      <mat-list-item *ngFor="let contacto of contactsList; let pos = index">
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>{{contacto.nombre}}</h4>
        <p mat-line> {{contacto.numero}}</p>
        <p mat-line> {{contacto.correo}}</p>
        <div class="accions-buttons">
          <button mat-icon-button (click)="editar(contacto, pos)">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminar(pos)">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </ng-container>
    <ng-container *ngIf="contactsList.length == 0">
      <p>Sin datos</p>
    </ng-container>
  </mat-list>
