/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

app-list{
  width: 100%;
  top: 0px;
  position: absolute;
}

app-formulario{
  top: 0px;
  position: absolute;
}
