<div class="example-container">
  <form class="example-form"  #modalForm="ngForm">
      <mat-form-field >
        <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="contacto.nombre" #nombre="ngModel" required>
        <mat-error *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          {{nombre.errors | showError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Número" name="numero" [(ngModel)]="contacto.numero" #numero="ngModel" required>
        <mat-error *ngIf="numero.invalid && (numero.dirty || numero.touched)">
          {{numero.errors | showError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Correo electrónico" name="correo" [(ngModel)]="contacto.correo" #correo="ngModel" required email>
        <mat-error *ngIf="correo.invalid && (correo.dirty || correo.touched)">
          {{correo.errors | showError}}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="aplicar()" [disabled]="modalForm.invalid">Aplicar</button>
      <button mat-raised-button color="accent" (click)="modalForm.resetForm({})" >Cancelar</button>
  </form>
</div>
