.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-form mat-form-field{
  width: 100%;
  margin-bottom: 15px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

button {
  margin-right: 10px;
}
